<div style="padding: 0 7px;">
  <p-toolbar [style]="{'background-color': '#49874c'}">
    <div class="CrudDivPosition">
      <div>
        <!-- [ngStyle]="{'background-color': item.cor}" -->
        <div class="btn-group " role="group" aria-label="Basic example" *ngFor="let item of CrudButtons">
          <button type="button" class="btn btn-secondary {{item.cor}}" *ngIf="!item.split" (click)="getClick(item)">{{item.titulo}}</button>

          <p-splitButton [label]="item.titulo" *ngIf="item.split" [ngStyle]="{'background-color': item.cor}" icon="pi pi-check"
            [model]="item.options"></p-splitButton>
        </div>
      </div>
      <div style="width: 30%;">
        <span class="ui-float-label">
          <input id="float-input" type="text" pInputText style="width: 100%;">
          <label for="float-input" style="width: 100%;">Username</label>
        </span>
      </div>
    </div>
  </p-toolbar>
</div>