/* @media 450px;
@media 5px;
 */
.flexi {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

::ng-deep .corFundo {
    .ui-toolbar {
        background-color: #49874c;
    }
}

.CrudDivPosition {
display: flex;
justify-content: space-between;
}
/* ::ng-deep body .ui-button {
  background-color: #ffffffff
}
 */
