<p-panel header="Grid" [toggleable]="true" [style]="{'margin-bottom':'20px'}">

  <button pButton type="button" icon="pi pi-search" label="Ativar Grid" (click)="iniciarGrid()" class="ui-button-success"></button>
  <button pButton type="button" icon="pi pi-search" label="getRows" (click)="getRows()" class="ui-button-danger"></button>
  <button pButton type="button" icon="pi pi-search" label="mostrar todoList" (click)="showTodo()" class="ui-button-warning"></button>
  <div style="display: flex;justify-content: center">
    <button type="button" (click)="direct(true)" class="{{class.btn1}}">
      <i class="pi pi-plus"></i>
      Duplo Clique para: Modal
    </button>
    <button type="button" (click)="direct(false)" class="{{class.btn2}}">
      <i class="pi pi-upload"></i>
      Duplo Clique para: Rota
    </button>
  </div>
  <ag-grid-angular style="width: 100%; height: 550px;" class="ag-theme-blue" [gridOptions]="gridOptions">
  </ag-grid-angular>
</p-panel>


<p-dialog header="Godfather I" [(visible)]="display" [modal]="true" [responsive]="true" [width]="350" [maximizable]="true"
  [baseZIndex]="10000">


  <p-listbox [options]="todoList" multiple="multiple" checkbox="checkbox" optionLabel="name">

  </p-listbox>
</p-dialog>