<p-dialog [(visible)]="editarSrv.displayModal" [modal]="true" [width]="objetosTela.width">

  <p-header>
    {{editarSrv.objetosTela.titulo}}
  </p-header>

  <div class="p-grid">
    <div class="p-col-6">
      <span class="ui-float-label">
        <input id="nome" type="text" pInputText [(ngModel)]="editarSrv.objetosTela.nome">
        <label for="nome">Nome</label>
      </span>
    </div>
    <div class="p-col-6">
      <span class="ui-float-label">
        <input id="idade" type="text" pInputText [(ngModel)]="editarSrv.objetosTela.idade">
        <label for="idade">Idade</label>
      </span>
    </div>

  </div>
  <p-footer>
    <button pButton type="button" label="Salvar" class="ui-button-success"></button>
    <button pButton type="button" label="Cancelar" class="ui-button-danger"></button>
  </p-footer>
</p-dialog>

<div style="padding:10px" *ngIf="editarSrv.displayRota">
  <p-panel>
    <p-header class="headerRota" style="display: flex;align-items: center;">
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="Voltar" (click)="voltar()" icon="pi pi-chevron-left" class="ui-button-success"></button>
          </div>

      <span>
          {{editarSrv.objetosTela.titulo}}
      </span>
    </p-header>
    <div class="p-grid">
      <div class="p-col-12">
        <span class="ui-float-label">
          <input id="Nome" type="text" size="100" pInputText [(ngModel)]="editarSrv.objetosTela.nome">
          <label for="Nome">Nome</label>
        </span>
      </div>
      <div class="p-col-6">
        <span class="ui-float-label">
          <input id="Idade" type="text" pInputText [(ngModel)]="editarSrv.objetosTela.idade">
          <label for="Idade">Idade</label>
        </span>
      </div>
      <div class="p-col-6">
        <span class="ui-float-label">
          <input id="Email" type="text" pInputText [(ngModel)]="editarSrv.objetosTela.email">
          <label for="Email">Email</label>
        </span>
      </div>
    </div>
    <p-footer>
      Footer content here
    </p-footer>
  </p-panel>
</div>
