<ons-pesquisa></ons-pesquisa>
<ons-editar></ons-editar>
<ons-crudbuttons></ons-crudbuttons>
<div class="btn-group">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="false">
    Right-aligned menu
  </button>
  <div class="dropdown-menu dropdown-menu-right">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>

<div class="bodyHolder">
  <div class="imageHolder">
    <img src="../../assets/logo-ons.png">
    <img src="../../assets/logo-ons.png">
    <img src="../../assets/logo-ons.png">
    <img src="../../assets/logo-ons.png">
  </div>
</div>
