  <span *ngIf="data.generic" class="ui-float-label basic">
    <p-calendar dateFormat="{{data.specific.dateFormat}}" [(ngModel)]="data.generic.value" [disabled]="data.generic.disable"></p-calendar>
    <label for="float-input"></label>
  </span>


