<div *ngIf="data.generic">
<ng-container *ngFor="let check of data.specific.options">
    <p-checkbox [disabled]="data.generic.disable" label="{{check.value}}" name="{{check.groupname}}" value="{{check.value}}" [(ngModel)]="selectedValues"></p-checkbox>
</ng-container>
</div>
