<div>
    <div>
        <h1>{{pesquisaSrv.title}}</h1>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
        <p-toast [style]="{marginTop: '80px'}"></p-toast>
        <p-accordion (onClose)="onTab(true, this)" (onOpen)="onTab(false, this)" #testeB>
            <p-accordionTab header="Pesquisa Avançada" [selected]="false">
                <div #componentes>

                </div>
                <div #filtros>

                </div>
            </p-accordionTab>
        </p-accordion>
        <br *ngIf="_tab">
        <div *ngIf="_tab" class="p-grid">
            <div class="p-col">
                <div class="box">
                    <span class="ui-float-label">
                        <input id="pesquisaInput" [(ngModel)]="inputPesquisa" type="text" size="30" pInputText />
                        <label for="pesquisaInput">Pesquisar</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <br>
    <button type="button" (click)="cliquePesquisar()" class="btn btn-success">Pesquisar</button>
</div>