/* You can add global styles to this file, and also import other style files */

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import "~bootstrap/dist/css/bootstrap.css";
.BtnVoltar {
    background-color: #34A835
}

.BtnIncluir {
    color: #fff;
    font-weight: bold;
    background-color: #486018
}

.BtnEditar {
    background-color: #4F8AD8
}

.BtnExcluir {
    background-color: #D10429
}

.BtnListar {
    background-color: #636266
}

.BtnExportar {
    background-color: #6D8046
}