<p-toolbar>
  <div class="ui-toolbar-group-left">
    <!--     <button pButton type="button" (click)="direct(true)" label="Testes" icon="pi pi-plus" class="{{class.btn1}}"></button>
    <button pButton type="button" (click)="direct(false)" label="DashBoard" icon="pi pi-upload" class="{{class.btn2}}"></button> -->

    <button type="button" (click)="direct(true)" class="{{class.btn1}}">
      <i class="pi pi-plus"></i>
      Testes
    </button>
    <button type="button" (click)="direct(false)" class="{{class.btn2}}">
      <i class="pi pi-upload"></i>
      Tela Inicial
    </button>

    <i class="pi pi-bars"></i>
  </div>
</p-toolbar>
<div *ngIf="page">
  <ons-pesquisa></ons-pesquisa>
  <ons-editar></ons-editar>
  <ons-crudbuttons></ons-crudbuttons>
  <ons-grid></ons-grid>
</div>
<div *ngIf="!page">
  <ons-testes></ons-testes>
</div>
<br>
<br>
