<div *ngIf="data.generic">
<input type="text" pInputText [(ngModel)]="data.generic.value"   style="width:14em"/>
<p-slider [disabled]="data.generic.disable" [(ngModel)]="data.generic.value"   [style]="{'width':'14em'}"></p-slider>
</div>